<div class=container>
    
  <div class="register">
       <h2> General Settings</h2>
<form method="post" id="register" action="">
  
   <label> Old Password : </label><br>
   <input type="password" name="pass" id="name" placeholder="Enter your Old password" required><br>
   
   <label> Password : </label><br>
   <input type="password" name="pass" id="name" placeholder="Enter New password" required><br>
   <label> Re Enter Password : </label><br>
   <input type="password" name="pass" id="name" placeholder="Confirm New password" required><br><br>

   <input type="submit" value="Submit" id="sub">
</form>
  </div>
</div>